.header {
    padding: 32px;
}

h1 {
    text-transform: uppercase;
    color: #B8860B;
    font-size: 76px;
}

h2 {
    text-transform: uppercase;
    color: #F2AF12;
}

h3 {
  text-transform: uppercase;
}

body {
	text-align: center;
    margin: 0;
    font-family: Calibri;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

#polarbear {
	width: 80%;
	opacity: 0;
	animation: fadeIn 1s forwards;
  }

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}